.decorate-icon {
    background: rgb(103, 143, 235);
}
.emergen-call {
    background: rgb(78, 108, 179);  
}
.easyAsccess {
    background: rgb(89, 124, 204)
}
.service-address {

}.service-address h3{
    font-size: 2rem;
}